{% extends 'base.html' %}

{% block site %}
    <div id="main">
        <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
            <section class="Grid">
                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
                    <div class="Grid Grid--fit u-margin-r-bottom">
                        <p class="Grid-cell">
                            <span class="Dot u-background-50"></span>
                            <strong class=" u-text-r-xs">{{ document.author.username }}</strong>
                        </p>
                        <p class="Grid-cell u-textSecondary">
                            {{ document.author.bc_address }}
                        </p>
                    </div>
                    <div class="u-text-r-l u-layout-prose">
                        <h2 class="u-text-h2 u-margin-r-bottom">{{ document.title }}</h2>
                        <p class="u-textSecondary u-lineHeight-l">{{ document.description }}</p>
                    </div>
                    <div class="u-sizeFull u-text-r-s u-color-70 u-margin-top-xxl">
                        <h3 class="u-border-bottom-m u-text-h3 u-color-60">Elenco versioni:</h3>
                        {% if versions %}
                            <ul class="Linklist Prose u-text-r-xs">
                                {% for v in versions %}
                                    <form method='POST' name="version{{ v.id }}" action="{% url 'version-detail' %}">
                                        <li>
                                            <a onclick="document.forms['version{{ v.id }}'].submit();">{{ v.creation_timestamp }}</a>
                                        </li>
                                        <input type="hidden" name="version_id" value="{{ v.id }}">
                                        {% csrf_token %}
                                    </form>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="u-textSecondary u-lineHeight-l">Nessuna versione</p>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock site %}