{% extends 'base.html' %}

{% load qr_code %}

{% block scripts %}

    <script>
        function autoDownload() {
            window.open("{{ request.scheme }}://{{ request.get_host }}/media/{{ file_name }}");
        }
    </script>

{% endblock scripts %}

{% block site %}
    <div id="main">
        <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
            <section class="Grid">
                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">

                    <div class="Grid Grid--fit u-margin-r-bottom">
                        <p class="Grid-cell">
                            <span class="Dot u-background-50"></span>
                            <strong class=" u-text-r-xs">{{ version.document.author.username }}</strong>
                        </p>
                        <p class="Grid-cell u-textSecondary">
                            {{ version.document.author.public_authority.name }}
                        </p>
                    </div>
                    <div class="u-text-r-l u-layout-prose">
                        <a href="{% url 'document-versions' version.document.id %}"
                           class="u-text-h2 u-textClean u-color-black">{{ version.document.title }}</a>
                        <!-- check if there is a new version of this document -->
                        {% if not is_last %}
                            <div class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-top-l"
                                 role="alert">
                                <p class="u-text-p">Esiste una nuova versione di questo documento.
                                    <a href="{% url 'document-versions' version.document.id %}">
                                        Vedi versioni documento</a>
                                </p>

                            </div>
                        {% endif %}
                        <article class="Prose u-layout-prose u-margin-top-l">
                            <p>{{ version.document.description }} </p>
                        </article>
                    </div>
                </div>

                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
                    {% qr_from_text request.build_absolute_uri size="s" image_format="png" error_correction="L" %}
                </div>

            </section>

            {% if validation_flag == -1 %}
            <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom"
                 role="alert">
                <h2 class="u-text-h3">
                    Documento alterato
                </h2>
                <p class="u-text-p">Questo significa che l'impronta hash di '{{ document.metadata.title }}' salvata
                    sulla blockchain non coincide con l'impronta del documento disponibile al download.</p>
                <code class="u-text-r-xxs" style="background: #dddddd">
                    tx address: {{ tx_address }}
                </code>
            </div>

            {% elif validation_flag == 1 %}
            <div class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom"
                 role="alert">
                <h2 class="u-text-h3">
                    Documento certificato
                </h2>
                <p class="u-text-p">Questo significa che l'impronta hash di '{{ document.metadata.title }}' salvata
                    sulla blockchain coincide con l'impronta del documento disponibile al download.</p>
                <code class="u-text-r-xxs" style="background: #dddddd">
                    tx address: {{ tx_address }}
                </code>
            </div>

            {% else %}
            <div class="Prose Alert Alert--warning Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom"
                 role="alert">
                <h2 class="u-text-h3">
                    Dati certificazione non disponibili
                </h2>
                <p class="u-text-p">Questo significa che al documento non è ancora stata associata una transazione su
                    blockchain che lo certifica</p>
            </div>

            {% endif %}

        </div>

        <div class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom u-layout-r-withGutter">
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
                    <div class="Entrypoint-item u-background-50">
                        <p>
                            <a id="download_btn" class="u-textClean u-text-h4 u-color-white"
                               href="{{ request.scheme }}://{{ request.get_host }}/media/{{ file_name }}"
                               target="_blank">
                                Scarica
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if auto_download %}
        <script type="text/javascript">
            $(document).ready(function () {
                autoDownload()
            });
        </script>
    {% endif %}

{% endblock site %}