{% extends 'base.html' %}

{% block site %}
    <form class="Form Form--spaced u-padding-all-xl u-background-grey-10 u-text-r-xs u-layout-prose" method="POST">
        {% csrf_token %}
        <div class="Prose Alert Alert--info">
            <p>Tutti i campi sono richiesti salvo dove espressamente indicato</p>
        </div>
        {% if form.non_field_errors %}
            <div class="Prose Alert Alert--error">
                {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
            </div>
        {% endif %}

        <fieldset class="Form-fieldset">
            <legend class="Form-legend">Log In</legend>

            <div class="Form-field">
                <label class="Form-label is-required" for="username">Username</label>
                <input class="Form-input" aria-required="true" id="username" maxlength="30"
                       name="username" placeholder="il tuo username" type="text" required/>
            </div>

            <div class="Form-field">
                <label class="Form-label is-required" for="password">Password</label>
                <input class="Form-input" aria-required="true" id="password" maxlength="30"
                       name="password" placeholder="la tua password" type="password" required/>
            </div>

        </fieldset>
        <div class="Form-field Grid-cell u-textRight">
            <button class="Button Button--default u-text-xs" type="submit">Login</button>
        </div>
    </form>
{% endblock site %}