{% extends 'base.html' %}

{% block site %}
    <div id="main">
        <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
            <section class="Grid">
                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
                    <div class="u-text-r-l u-layout-prose">
                        <p class="u-textSecondary u-lineHeight-l">
                            Logout effettuato con successo
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock site %}